{{! template-lint-disable no-invalid-interactive }}
{{! template-lint-disable no-down-event-binding }}
{{#if this._aCondition}}
  <div
    style={{this.sashTopStyle}}
    {{on 'mousedown' (fn this.sashClicked 'top')}}
  ></div>
{{/if}}

{{#if this._bCondition}}
  <div
    style={{this.sashRightStyle}}
    {{on 'mousedown' (fn this.sashClicked 'right')}}
  ></div>
{{/if}}

{{#if this._cCondition}}
  <div
    style={{this.sashBottomStyle}}
    {{on 'mousedown' (fn this.sashClicked 'bottom')}}
  ></div>
{{/if}}

{{#if this._dCondition}}
  <div
    style={{this.sashLeftStyle}}
    {{on 'mousedown' (fn this.sashClicked 'left')}}
  ></div>
{{/if}}

{{yield}}